footer.border-top.bg-white
  .container
    .top-footer.py-5
      .row.text-center.text-sm-left
        .col-md-4
          span
            img(src="/img/logo.png", alt="logo", style="height: 30px;")
            |  Ecommerce Starter
          p.mt-3 Some short text about company like You might remember the Dell computer commercials in which a youth reports this exciting news to his friends.
        .col-sm-3.col-md-2
          h6.title Company
          ul.list-unstyled
            li
              a(href="#") About us
            li
              a(href="#") Privacy & Cookies
            li
              a(href="#") Rules and terms
            li
              a(href="#") Sitemap
        .col-sm-3.col-md-2
          h6.title Help
          ul.list-unstyled
            li
              a(href="#") Contact us
            li
              a(href="#") Money refund
            li
              a(href="#") Order status
            li
              a(href="#") Shipping info
        .col-sm-3.col-md-2
          h6.title For users
          ul.list-unstyled
            li
              a(href="#") User Login
            li
              a(href="#") User register
            li
              a(href="#") Account setting
            li
              a(href="#") My orders
        .col-sm-3.col-md-2
          h6.title Social
          ul.list-unstyled
            li
              a(href="#")
                i.fab.fa-facebook
                |  Facebook
            li
              a(href="#")
                i.fab.fa-instagram
                |  Instagram
            li
              a(href="#")
                i.fab.fa-twitter
                |  Twitter
    .bottom-foorter.border-top.py-4
      .d-flex.justify-content-between.flex-column.flex-md-row.text-center
        p.text-muted.m-0 &copy; 2020 Ecommerce Starter
        p.text-muted.m-0.mt-2.mt-md-0
          i.fab.fa-lg.fa-cc-visa.mr-2
          i.fab.fa-lg.fa-cc-paypal.mr-2
          i.fab.fa-lg.fa-cc-mastercard