header.d-block.bg-white
  .top-header.border-bottom
    .container
      nav.d-flex.flex-column.flex-md-row
        ul.nav.mr-auto.d-none.d-md-flex
          li
            a.nav-link.px-2(href="#")
              i.fab.fa-facebook 
          li
            a.nav-link.px-2(href="#")
              i.fab.fa-instagram 
          li
            a.nav-link.px-2(href="#")
              i.fab.fa-twitter
        ul.nav.justify-content-center
          li.nav-item
            a.nav-link(href="#") Delivery
          li.nav-item
            a.nav-link(href="#") Help
          li.nav-item
            a.nav-link(href="#") +1 (888) 888 8888
  .main-header.border-bottom.position-relative.py-3
    .container
      .d-flex.flex-column.flex-md-row.justify-content-md-between.text-center
        a.navbar-brand.p-0(href="/")
          img(src="/img/logo.png", alt="logo", style="max-height:40px; width: auto")
          |  Ecommerce Starter
        .actions-wrap.d-flex.justify-content-center.justify-content-md-end.mt-3.mt-md-0
          a.btn.btn-outline-primary.mr-2(href="/login") Login
          a.btn.btn-primary.mr-2(href="/signup") Sign up
          a.btn.btn-light(href="/cart")
            | My cart
            span.badge.bg-warning.ml-2 4
  nav.navbar.navbar-expand.border-bottom.navbar-light
    .container.justify-content-center
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="/products/all")
            strong All products
        li.nav-item.d-none.d-md-block
          a.nav-link(href="#")
            strong Category 1
        li.nav-item.d-none.d-md-block
          a.nav-link(href="#")
            strong Category 2
        li.nav-item.d-none.d-md-block
          a.nav-link(href="#")
            strong Category 3




