extends layout

block content
  .container
    section.hero-banner.py-4
      div.hero-banner-wrap
        img.img-fluid.rounded(src="/img/hero1.jpg", alt="hero banner", style="width: 100%")
    section.arrivals.mb-5
      .d-flex.justify-content-between.my-4
        h4.section-title New arrivals
        a.btn.btn-outline-primary(href="#") View all
      .row
        .col-md-3
          .card.card-product-grid
            a.img-wrap(href="#")
              span.badge.bg-danger NEW
              img(src="/uploads/products/1.jpg", alt="")
              .overlay
                i.fa.fa-search-plus
                |  View product
            .info-wrap
              .description
                a.product-name(href="#") Item name goes here
                .price-wrap.mt-2
                  span.price $500.00
                  del.price-old $580.99
              a.btn.btn-block.btn-primary(href="#") Add to cart
        .col-md-3
          .card.card-product-grid
            a.img-wrap(href="#")
              span.badge.bg-danger NEW
              img(src="/uploads/products/2.jpg", alt="")
              .overlay
                i.fa.fa-search-plus
                |  View product
            .info-wrap
              .description
                a.product-name(href="#") Item name goes here
                .price-wrap.mt-2
                  span.price $500.00
              a.btn.btn-block.btn-primary(href="#") Add to cart
        .col-md-3
          .card.card-product-grid
            a.img-wrap(href="#")
              span.badge.bg-danger NEW
              img(src="/uploads/products/3.jpg", alt="")
              .overlay
                i.fa.fa-search-plus
                |  View product
            .info-wrap
              .description
                a.product-name(href="#") Item name goes here
                .price-wrap.mt-2
                  span.price $500.00
              a.btn.btn-block.btn-primary(href="#") Add to cart
        .col-md-3
          .card.card-product-grid
            a.img-wrap(href="#")
              span.badge.bg-danger NEW
              img(src="/uploads/products/4.jpg", alt="")
              .overlay
                i.fa.fa-search-plus
                |  View product
            .info-wrap
              .description
                a.product-name(href="#") Item name goes here
                .price-wrap.mt-2
                  span.price $500.00
                  del.price-old $580.99
              a.btn.btn-block.btn-primary(href="#") Add to cart
    section.recommended.mb-5
      .d-flex.justify-content-between.my-4
        h4.section-title Recommended
        a.btn.btn-outline-primary(href="#") View all
      .row
        .col-md-3
          .card.card-product-grid
            a.img-wrap(href="#")
              img(src="/uploads/products/5.jpg", alt="")
              .overlay
                i.fa.fa-search-plus
                |  View product
            .info-wrap
              .description
                a.product-name(href="#") Item name goes here
                .price-wrap.mt-2
                  span.price $500.00
                  del.price-old $580.99
              a.btn.btn-block.btn-primary(href="#") Add to cart
        .col-md-3
          .card.card-product-grid
            a.img-wrap(href="#")
              img(src="/uploads/products/6.jpg", alt="")
              .overlay
                i.fa.fa-search-plus
                |  View product
            .info-wrap
              .description
                a.product-name(href="#") Item name goes here
                .price-wrap.mt-2
                  span.price $500.00
              a.btn.btn-block.btn-primary(href="#") Add to cart
        .col-md-3
          .card.card-product-grid
            a.img-wrap(href="#")
              img(src="/uploads/products/7.jpg", alt="")
              .overlay
                i.fa.fa-search-plus
                |  View product
            .info-wrap
              .description
                a.product-name(href="#") Item name goes here
                .price-wrap.mt-2
                  span.price $500.00
              a.btn.btn-block.btn-primary(href="#") Add to cart
        .col-md-3
          .card.card-product-grid
            a.img-wrap(href="#")
              span.badge.bg-danger NEW
              img(src="/uploads/products/8.jpg", alt="")
              .overlay
                i.fa.fa-search-plus
                |  View product
            .info-wrap
              .description
                a.product-name(href="#") Item name goes here
                .price-wrap.mt-2
                  span.price $500.00
                  del.price-old $580.99
              a.btn.btn-block.btn-primary(href="#") Add to cart
        .col-md-3
          .card.card-product-grid
            a.img-wrap(href="#")
              img(src="/uploads/products/9.jpg", alt="")
              .overlay
                i.fa.fa-search-plus
                |  View product
            .info-wrap
              .description
                a.product-name(href="#") Item name goes here
                .price-wrap.mt-2
                  span.price $500.00
                  del.price-old $580.99
              a.btn.btn-block.btn-primary(href="#") Add to cart
        .col-md-3
          .card.card-product-grid
            a.img-wrap(href="#")
              img(src="/uploads/products/10.jpg", alt="")
              .overlay
                i.fa.fa-search-plus
                |  View product
            .info-wrap
              .description
                a.product-name(href="#") Item name goes here
                .price-wrap.mt-2
                  span.price $500.00
              a.btn.btn-block.btn-primary(href="#") Add to cart
        .col-md-3
          .card.card-product-grid
            a.img-wrap(href="#")
              span.badge.bg-danger NEW
              img(src="/uploads/products/11.jpg", alt="")
              .overlay
                i.fa.fa-search-plus
                |  View product
            .info-wrap
              .description
                a.product-name(href="#") Item name goes here
                .price-wrap.mt-2
                  span.price $500.00
              a.btn.btn-block.btn-primary(href="#") Add to cart
        .col-md-3
          .card.card-product-grid
            a.img-wrap(href="#")
              img(src="/uploads/products/12-1.jpg", alt="")
              .overlay
                i.fa.fa-search-plus
                |  View product
            .info-wrap
              .description
                a.product-name(href="#") Item name goes here
                .price-wrap.mt-2
                  span.price $500.00
                  del.price-old $580.99
              a.btn.btn-block.btn-primary(href="#") Add to cart
